@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: #00B7FF;
}

@media screen and (max-width: 960px) {
  #img_header {
      display: none;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#div_books img {
  cursor: pointer;
}

form span {
  width: 100px;
}

#div_books .bi-bag-plus-fill {
  cursor: pointer;
  color: green;
  font-size: 1.5rem;
}